<h3> Team List</h3>
<% @teams.each do |team| %>
    <p style="display:inline;"><%= link_to team.name, team_path(team) %> </p>
    <% if user_signed_in? %>
        <% if current_user.teams.include?(team) %>
        <% userTeam = current_user.userTeams.where(team_id:team.id).first.id%>
            <%= link_to "Remove" , user_team_path(id: userTeam), method: :delete%>
        <% else %>
            <%= link_to "Add to favorites" , user_teams_path(user_id: current_user.id, team_id: team.id), method: :post%>
        <% end %>


    <% end %>
    </br>
    </br>
<% end %>
