<style type="text/css">
  #teamlist {
    clear:both;
  }


  #sport-tabs {
    /*border-radius: 5px;*/
  }
  .sport-tab:hover {
    background-color: blue;
  }
  .sport-tab {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    height:50px;
    background-color: #D3D3D3;
  }
  .showing {
    display: block;
  }
  .hidden {
    display: none;
  }
</style>
<ul id="sport-tabs" class='large-10 columns medium-12 small-12 large-centered small-centered medium-centered'>
  <li>
    <div class="large-3 medium-3 small-6 columns sport-tab" id='basketball-tab'>Basketball</div>
  </li>
  <li>
    <div class="large-3 medium-3 small-6 columns sport-tab" id='hockey-tab'>Hockey</div>
  </li>
  <li>
    <div class="large-3 medium-3  small-6 columns sport-tab" id='football-tab'>Football</div>
  </li>
  <li>
    <div class="large-3 medium-3 small-6 columns sport-tab" id='baseball-tab'>Baseball</div>
  </li>
</ul>


<h3 id='teamlist'> Team List</h3>
<div class="row">
<ul id="basketball-teams" class=''>
<% @teams.first(30).each do |team| %>
<div class="large-2 columns">
<li><%= render team %></li>
</div>
<% end %>
</ul>
<ul id="hockey-teams" class='hidden'>

  <% @teams[30..60].each do |team| %>
  <div class="large-2 columns">
  <li><%= render team %></li>
  </div>
<% end %>
</ul>
<ul id="football-teams" class='hidden'>
<% @teams[61..92].each do |team| %>
  <%= render team %>
<% end %>
</ul>
<ul id="baseball-teams" class='hidden'>
<% @teams[93..123].each do |team| %>
  <%= render team %>
<% end %>
</ul>
<script type="text/javascript">
  $( ".sport-tab" ).click(function(event) {
    var sport = $(this).attr('id');

    if ( sport == "basketball-tab"){
      $("#basketball-teams").removeClass( "hidden" ).removeClass( "hidden" );
      $("#hockey-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#football-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#baseball-teams").removeClass( "hidden" ).addClass( "hidden" );

    } else if (sport == "hockey-tab") {
      $("#basketball-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#hockey-teams").removeClass( "hidden" );
      $("#football-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#baseball-teams").removeClass( "hidden" ).addClass( "hidden" );
    } else if (sport == "football-tab") {
      $("#basketball-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#hockey-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#football-teams").removeClass( "hidden" );
      $("#baseball-teams").removeClass( "hidden" ).addClass( "hidden" );
    } else if (sport == "baseball-tab") {
      $("#basketball-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#hockey-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#football-teams").removeClass( "hidden" ).addClass( "hidden" );
      $("#baseball-teams").removeClass( "hidden" );
    }
  });

</script>
