<h1>Hello World</h1>
<div class="row">
  <ul style="padding: 0px; margin: 0px;">
    <% @top_basketball.each do |team| %>
    <%= link_to team.coach, team.coach_debate, :style => "font-size: 21px; margin-left: 15px; color: black;" %>
    <hr style="margin: 5px;">
    <% end %>
  </ul>
</div>
