<h1>Hello World</h1>
<div class="row">
  <ul style="padding: 0px; margin: 0px;">
    <% @top_baseball.each do |team| %>
      <!-- <img src="https://ih0.redbubble.net/image.318539865.1262/flat,800x800,075,f.u1.jpg" style="width:75px; height:75px; border-radius:50%;"> -->
    <img src=<%= team.thumb %> style="width:40px; height:40px; border-radius:50%;">
    <%= link_to team.coach, team.coach_debate, :style => "font-size: 21px; margin-left: 15px; color: black; font-family: 'Catamaran', sans-serif;" %>
    <hr style="margin: 5px;">
    <% end %>
  </ul>
</div>
