<div class="row">
    <% @basketball.sort_by{|team| team.score_percentage("team")}.reverse.each do |team| %>
      <div class='large-4 columns' style='margin-bottom:10px;'>
        <%= link_to(cl_image_tag(team.thumb, :width => 50, :height => 50, :crop => :fill, :style => "width:65px;height:65px;"), team) %>
        <p style='display:inline;'><%=link_to team.name, team %> - <%= team.score_percentage("team") %>% </p>
      </div><% end %>
</div>
