<div class="large-10 columns large-centered">
  <div class="large-2 columns" style="padding-top: 75px;">
    <h5><b>MLB</b></h5>
    <h6><a href="/mlb-team-rankings">Team</a></h6>
    <h6><a href="/mlb-coach-rankings">Coach</a></h6>
    <h6><a href="/mlb-frontoffice-rankings">Front Office</a></h6>
    <h6><a href="/mlb-stadium-rankings">Stadium</a></h6>
    <h5><b>NBA</b></h5>
    <h6><a href="/nba-team-rankings">Team</a></h6>
    <h6><a href="/nba-coach-rankings">Coach</a></h6>
    <h6><a href="/nba-frontoffice-rankings">Front Office</a></h6>
    <h6><a href="/nba-stadium-rankings">Stadium</a></h6>
    <h5><b>NFL</b></h5>
    <h6><a href="/nfl-team-rankings">Team</a></h6>
    <h6><a href="/nfl-coach-rankings">Coach</a></h6>
    <h6><a href="/nfl-frontoffice-rankings">Front Office</a></h6>
    <h6><a href="/nfl-stadium-rankings">Stadium</a></h6>
    <h5><b>NHL</b></h5>
    <h6><a href="/nhl-team-rankings">Team</a></h6>
    <h6><a href="/nhl-coach-rankings">Coach</a></h6>
    <h6><a href="/nhl-frontoffice-rankings">Front Office</a></h6>
    <h6><a href="/nhl-stadium-rankings">Stadium</a></h6>
  </div>

<div class="large-10 columns">
  <h3 style="text-align: center; margin-top: 20px; margin-bottom: 15px;"><b>Stadium Approval Ratings</b></h3>
    <% @football.sort_by{|team| team.score_percentage("stadium")}.reverse.each do |team| %>
    <div class='large-4 medium-6 small-12 columns' style='margin-bottom:10px;'>
      <img src=<%= team.thumb %> style="width:40px; height:40px; border-radius:50%;">
      <%= link_to team.stadium, team, :style => "font-size: 16.5px; margin-left: 10px; color: black;" %>
       <p style='display:inline; float: right; padding-top: 5px;'><%= team.score_percentage("stadium") %>%</p>
      <hr style="margin: 5px;">
    </div>
    <% end %>
</div>
</div>
