<img style="margin-top: -25px; max-height: 600px; width: 100%;" src="http://gohuskies.com/common/controls/image_handler.aspx?thumb_id=0&image_path=/images/2016/10/17/9.jpg">
<p style="color: white; font-size: 50px; position: absolute; top: 18%; width: 100%; text-align: center;">WELCOME</p>

<!-- Who we are -->
<div class="row">
	<br><br><h2 style="margin-top: 25px; text-align: center; text-transform: uppercase;">What we do</h2><br><br>
	<div class="large-10 columns large-centered">
	<div class="large-4 columns" style="padding-right: 40px;">
		<h4 style="font-weight: bold; text-transform: uppercase; color: #3071db;">bring sports writers together</h4>
		<p>We host sports writers from small outlets on our platform to increase their audience. All writers are allowed to write and host their content here.</p>
		</div>
	<div class="large-4 columns" style="padding-right: 40px;">
		<h4 style="font-weight: bold; text-transform: uppercase; color: #3071db;">give fans a voice</h4>
		<p>The approval ratings, debates, and comment sections allow fans to have a stronger voice than other platforms.</p>
		</div>
	<div class="large-4 columns" style="padding-right: 40px;">
		<h4 style="font-weight: bold; text-transform: uppercase; color: #3071db;">reader controlled content</h4>
		<p>From the lineup to the writer leaderboard, readers determine which articles and writers they want to read.</p>
	</div>
</div>
</div><br><br><br><br>

<!-- Start Writing -->
<div class="row" style="background-color: #256adb; padding-bottom: 50px;">
<div class="large-10 columns large-centered"><br><br>
	<div class="large-6 columns">
	<h3 style="text-transform: uppercase; color: white; font-weight: bold; padding-top: 20px;">Start Writing Today</h3>
	</div>
	<div class="large-3 columns"><%= link_to "Sign Up", new_registration_path(User.new), :style => "border: 4px solid white; width: 200px; height: 60px; color: white; font-weight: bold; padding-top: 10px; text-align: center;display:block;font-size:25px;" %></div>
	<% if current_user %>
	<div class="large-3 columns"><%= link_to "Creator Center", creator_path(id: current_user.id), :style => "border: 4px solid white; width: 200px; height: 60px; color: white; font-weight: bold; padding-top: 10px; text-align: center;display:block;font-size:25px;" %></div>
	<% else %>
	<div class="large-3 columns"><%= link_to "Creator Center", new_registration_path(User.new), :style => "border: 4px solid white; width: 200px; height: 60px; color: white; font-weight: bold; padding-top: 10px; text-align: center;display:block;font-size:25px;" %></div>
	<% end %>
</div></div>

<!-- Features -->
<div class="row">
	<br><br><h2 style="margin-top: 25px; text-align: center; text-transform: uppercase;">Features</h2><br><br>
	<div class="large-10 columns large-centered">
	<div class="large-4 columns" style="padding-right: 40px;">
		<h4 style="font-weight: bold; text-transform: uppercase; color: #3071db;">Original Content</h4>
		<p>We host original articles, podcasts, and videos from writers, fans, and content producers all over the country. Sign up and visit the creator center to post your content today.</p>
		</div>
	<div class="large-4 columns" style="padding-right: 40px;">
		<h4 style="font-weight: bold; text-transform: uppercase; color: #3071db;">Approval Ratings</h4>
		<p>Rate the coach, front office, and ownership of your favorite teams and see how they compare to the rest of the league on the Approval Rating page.</p>
		</div>
	<div class="large-4 columns" style="padding-right: 40px;">
		<h4 style="font-weight: bold; text-transform: uppercase; color: #3071db;">Writer Leaderbaord</h4>
		<p>The best writers on the website will appear at the top of the writer leaderboard. There are also writer leaderboards for each teams which allows fans to read their team's best writers</p>
	</div>
</div>
</div><br><br><br><br>

<!-- Contact Us -->
<div style="height: 100px; width: 100%; background-color: #f5f5f5;">
	<h4 style="text-align: center; padding-top: 35px; "><b>contact us</b>&nbsp;&nbsp; scorekeeper.us@gmail.com</h4></div>
