<style>
.largenumber{
  font-size: 75px;
  color: #e5e5e5;
  vertical-align: text-top;}

.name{
  font-size: 28px;
  font-weight: bold;
}

.desc{
  font-size: 18px;
  margin-top: 3px;
}

.row{margin-bottom: 20px;}
</style>


<div class="large-9 columns large-centered">
  <h3><b>featured podcasts</b></h3><br>
  <div class="row">
  <div class='large-1 columns' style="vertical-align: text-top;"><div class="largenumber">1</div></div>
  <div class='large-3 columns'><img src="https://www.podcastone.com/images/general/take_1200x630.jpg"></div>
  <div class='large-8 columns'>
    <div class="name">Pardon My Take</div>
    <div class="desc">On "Pardon My Take," Big Cat & PFT Commenter deliver the loudest and most correct sports takes in the history of the spoken word. Daily topics, guests, and an inability to tell what the hosts might be doing will make this your new favorite sports talk show. This is a podcast that will without a doubt change your life for the better- guaranteed, or your money back. *Pretend a reggaeton air horn is going off right now*</div>
  </div></div>
  <div class="row">
  <div class='large-1 columns'><div class="largenumber">1</div></div>
  <div class='large-3 columns'><img src="https://www.podcastone.com/images/general/take_1200x630.jpg"></div>
  <div class='large-8 columns'>
    <div class="name">Pardon My Take</div>
    <div class="desc">On "Pardon My Take," Big Cat & PFT Commenter deliver the loudest and most correct sports takes in the history of the spoken word. Daily topics, guests, and an inability to tell what the hosts might be doing will make this your new favorite sports talk show. This is a podcast that will without a doubt change your life for the better- guaranteed, or your money back. *Pretend a reggaeton air horn is going off right now*</div>
  </div></div>
  <div class="row">
  <div class='large-1 columns'><div class="largenumber">1</div></div>
  <div class='large-3 columns'><img src="https://www.podcastone.com/images/general/take_1200x630.jpg"></div>
  <div class='large-8 columns'>
    <div class="name">Pardon My Take</div>
    <div class="desc">On "Pardon My Take," Big Cat & PFT Commenter deliver the loudest and most correct sports takes in the history of the spoken word. Daily topics, guests, and an inability to tell what the hosts might be doing will make this your new favorite sports talk show. This is a podcast that will without a doubt change your life for the better- guaranteed, or your money back. *Pretend a reggaeton air horn is going off right now*</div>
  </div></div>
</div>
