<style>
img {
  height: 145px;
  margin-bottom: 10px;
}
.largenumber{
  font-size: 75px;
  color: #e5e5e5;
  vertical-align: text-top;}

.name{
  font-size: 28px;
  font-weight: bold;
}

.desc{
  font-size: 18px;
  margin-top: 3px;
  line-height: 1.2;
  padding-bottom: 10px;
}

.row{margin-bottom: 20px;}
</style>


<div class="large-8 columns large-centered">
  <h3 style="margin-left: 15px;"><b>featured podcasts</b></h3><br>
  <div class="row">
  <div class='large-1 columns'><div class="largenumber">1</div></div>
  <div class='large-2 columns'><img src="http://is1.mzstatic.com/image/thumb/Music118/v4/d7/8b/2a/d78b2ac6-4549-264e-3afe-1ec5ee018842/source/170x170bb.jpg"></div>
  <div class='large-9 columns'>
    <div class="name">Title Town Sports Podcasts</div>
    <div class="desc">A couple of New England die hards, celebrating, and finding reasons to complain in an age of unchecked sports prosperity. When two of the most sarcastic, cynical, ball busting Boston sports fans sit down to talk about the week on field... You'll be thankful for the expert guests. Title Town Sports is hosted by Craig Stanton and Melissa Clarke.</div>
  </div></div>
  <div class="row">
  <div class='large-1 columns' style="vertical-align: text-top;"><div class="largenumber">2</div></div>
  <div class='large-2 columns'><img src="http://is5.mzstatic.com/image/thumb/Music127/v4/31/39/74/31397474-162e-d09e-5f9b-6ba185264dc8/source/170x170bb.jpg"></div>
  <div class='large-9 columns'>
    <div class="name">The Hateful 8 Fantasy Football Podcast</div>
    <div class="desc">We here at The Hateful 8 Fantasy Football Podcast are out to help the Average Joes of fantasy football become experts in their respective leagues. Our hosts Pickle, Blackburn and Trimboli want to help you stay informed through weekly rankings, fantasy news and answering listener questions. We will do all this so you can achieve the ultimate goal which is "winning your league championship". So sit back, relax and enjoy the podcast.</div>
  </div></div>
  <div class="row">
  <div class='large-1 columns'><div class="largenumber">3</div></div>
  <div class='large-2 columns'><img src="http://is3.mzstatic.com/image/thumb/Music128/v4/eb/46/c8/eb46c8e4-e36b-e181-3375-e0d5f5baf9fb/source/170x170bb.jpg"></div>
  <div class='large-9 columns'>
    <div class="name">Super 70s Sports Podcast</div>
    <div class="desc">The Super 70s Sports Podcast with host Ricky Cobb brings you often humorous, always intelligent conversation with athletes, celebrities, and other figures from the world of sports and entertainment. Follow all the fun @Super70sSports on Twitter.</div>
  </div></div>
  <div class="row">
  <div class='large-1 columns'><div class="largenumber">4</div></div>
  <div class='large-2 columns'><img src="http://is4.mzstatic.com/image/thumb/Music128/v4/e0/94/13/e09413e4-ee48-82fd-0cb9-b7683e107475/source/170x170bb.jpg"></div>
  <div class='large-9 columns'>
    <div class="name">The Wicked Smart Sports Guys</div>
    <div class="desc">A podcast hosted by two extremely intelligent, diehard Boston Sports fans. Kenny Doyle and Hayden Eskridge talk about NBA, Celtics, Patriots, and Red Sox, prioritized in that order, and maybe some Bruins in dire situations.  Year round. 30 - 60 minutes.</div>
  </div></div>
  <div class="row">
  <div class='large-1 columns'><div class="largenumber">5</div></div>
  <div class='large-2 columns'><img src="http://is5.mzstatic.com/image/thumb/Music62/v4/12/a2/ed/12a2edf3-78bc-6f74-d074-ba1d29c787e5/source/170x170bb.jpg"></div>
  <div class='large-9 columns'>
    <div class="name">These Guys Sports Podcast</div>
    <div class="desc">Hosted by Tyler and Matt, These Guys Sports Podcast is a one stop shop for all things sports talk.</div>
  </div></div>
</div>
