

<h3>
This will be the homepage. On here we can have the leaderboard and all the elements we need. Or break it up into smaller parts and pull them all together
</h3>

<h3>Leaderboard:</h3>
<% @users.each do |user| %>
<p><%= user.username %> - Score: <%= user.this_weeks_score %></p>
<% end %>