/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require content-tools
 *= require ContentTools/build/content-tools.min
*= require toastr
 *= require selectize/dist/css/selectize
 *= require selectize/dist/css/selectize.default
 */

/* Header CSS */
.icon-bar{
  background-color: #f7f7f7;
  padding-left: 12%;
  border-bottom: 1px solid #bcbcbc;
}

.icon-bar > * label{color: black; font-size: 18px; display: block;}
.icon-bar > * label:hover{background-color: white; font-weight: bold;}
.icon-bar.four-up .item{width: 100px; padding: 10px; margin: 0px;}
.icon-bar.four-up .item:hover{background-color: white;}

.contain-to-top .top-bar{ max-width: 2000px; width: 1800px;}

.notice{ padding: 0px; margin: 0px; height: 0px;}
.alert{margin-bottom: 0px;}


/* Homepage CSS*/
.lineupx{
  width: 85%;
  float:left;
  height: 50px;
  padding-bottom: 0px;
  line-height: 1;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #d1d1d1;}

.lineupx a{color: black; font-size: 19px; line-height: 1;}

.lineupy {
  width: 40px;
  float: left;
  margin: 0px;
  padding: 0px;
  height: 40px;
  background-color: #77abff;
  text-align: center;
  padding-top: 4px;}

.lineupy a{color: white; text-align: center; font-weight: bold; font-size: 24px;}

.lineups{
  background-color: #fed766;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 0px;
}

.mainpostbox{
  padding-top: 15px;
  padding-bottom: 5px;
}
.mainpostbox h1{
  color: black;
  font-size: 40px;
  padding-top: 0px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.1;
  font-weight: bold;
}

/* General CSS */

 @font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('https://fonts.googleapis.com/css?family=Open+Sans')}

body {
  }

/*input[type="file"] {*/
    /*display: none;*/
/*}*/
ul {
  list-style-type: none;
}


.custom-file-upload {

    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.row {
  background-color: #fff;
  max-width: 1500px;
  padding: 15px;
  padding-bottom: 0px;
}

.itemheader{
  color: black;
  padding-top: 5px;
  margin-top: 0px;
  border-top: 5px solid #fed766;}

.post{
  height: 170px;}

.ptitle{
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  line-height: 1;
  padding-top: 10px;}

.pcontent{
  margin-left: 242px;}

.ptitle a{
  color: #000;}

.pscore {
  float: right;
  font-size: 18px;
  bottom: 5px;}

.pauthor{ float: left; font-size: 18px;}

.pauthor a{ color: #4faeff;}

.pvote{ float: left;}

.post img { width: 225px; float: left}

.sidebartitle{
  background-color: #8AA29E ;
  color: white;
  border-bottom: 5px double #686963;
  text-align: center;
  padding-top: 5px;
  font-size: 28px;}

ol{
  padding: 10px;
}

.lboard{
  font-size: 20px;
  float: left;
  width: 80%;}

.lboard a{ color: #60a5ff; font-weight: bold;}

.lcell{
  width: 300px;
  display: inline-flex;
  margin-left: 20px;
  background-color: #f7f7f7;}

.lbscore{
  float: right;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  padding-right: 15px;}

/*Post CSS*/

.posttitle {
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1; }

.postcontent h5{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;}

.postauthor p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
}

.authorname {
  font-size: 24px;
  float: left;
  margin-top: 25px;
  margin-left: 30px;
}

.authorbio {
  float: left;
  width: 80%;
  margin-left: 30px;
}

.authorfooter img{
  float: left;
}

.authorfooter{
  height: 165px;
  margin-left: 30px;
  margin-top: 20px;
}


/*User CSS*/

.userauthorname {
  font-size: 40px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;}

.userauthorbio {
  float: left;
  width: 75%;
  margin-left: 30px;}

.userauthorfooter img{
  float: left;}

.userauthorfooter{
  height: 155px;
  margin-left: 20px;
  margin-top: 20px;}

.userauthorscore{
  float: right;
  padding-top: 25px;
  font-size: 22px;}

.userauthorteams{
  font-size: 20px;
  float: left;
  display: inline-block;}

.userauthorpost{
  width: 100%;}

.uaptitle a{
  font-size: 40px;
  color: black;
  line-height: 1;
  color: #586ba4;}

.uaptitle{
padding-top: 10px;}

.uapscore{
  font-size: 20px;}


/* Foundation CSS */
.large-5{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.large-7{
padding-right: 10px;
}

.sidebar{
  padding-left: 15px;
  background-color: #fcfcfc;
  padding-right: 15px;
  width: 450px;
  margin-right: 20px;
  border-left: .5px solid #cecece;}

.large-8{

}
