/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add appli.large-10, .medium-10, .small-12, .columns, .large-centeredcation-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require toastr


@import 'foundation'

.editor
  //padding-bottom: 20px
  background-color: white
  position: relative
  float: bottom
  div
    float: bottom

.editor-divider
  @extend .editor
  height: 200px

.editor-title
  @extend .editor
  text-align: left
  margin-top: 10px

.editor-tags
  @extend .editor

.editor-content
  @extend .editor
  background-color: #D6EBF2


.editor-headerimage
  @extend .editor
  //background-color: cornflowerblue
  img
    width: 750px
    height: 350px
